#here-link {
    text-decoration: none;
    color: #083959;
    height: 3rem;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 1px solid #083959;
    text-align: start;
    margin-top: 1rem;
}

#here-link:hover {
    box-shadow: 0 0.5em 0.375em -0.4em #083959;
    transform: translateY(-0.05em);
}

#form-div {
    display: inline-block;
    box-shadow: none;
    transform: translate(0, 0);
}