{% extends "base.html" %}
{% load static %}
{% block head %}
<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'scores/css/pf.css' %}">

{% endblock head %}



{% block content%}




<div class="container-fluid">
    <!-- Control panel for content -->


    <div class="row justify-content-center mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label for="weightAsset1">AMD:</label>
                        <input type="number" id="weight_AMD" name="weight_AMD" class="form-control" step="0.01" min="0"
                            max="1" value="0.2">
                    </div>
                    <div class="col">
                        <label for="weightAsset2">Intel:</label>
                        <input type="number" id="weight_INTC" name="weight_INTC" class="form-control" step="0.01"
                            min="0" max="1" value="0.4">
                    </div>
                    <div class="col">
                        <label for="weightAsset3">Apple:</label>
                        <input type="number" id="weight_AAPL" name="weight_AAPL" class="form-control" step="0.01"
                            min="0" max="1" value="0.1">
                    </div>
                    <div class="col">
                        <label for="weightAsset4">NVIDIA:</label>
                        <input type="number" id="weight_NVDA" name="weight_NVDA" class="form-control" step="0.01"
                            min="0" max="1" value="0.1">
                    </div>
                    <div class="col">
                        <label for="weightAsset5">Qualcomm:</label>
                        <input type="number" id="weight_QCOM" name="weight_QCOM" class="form-control" step="0.01"
                            min="0" max="1" value="0.1">
                    </div>
                    <div class="col">
                        <label for="weightAsset6">Broadcomm:</label>
                        <input type="number" id="weight_AVGO" name="weight_AVGO" class="form-control" step="0.01"
                            min="0" max="1" value="0.1">
                    </div>
                    <div class="row">
                        <div class="col">Total: <span id="update-weight">0</span> </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col">
                        <label for="fromDate">From:</label>
                        <input type="date" id="fromDate" name="fromDate" class="form-control">
                    </div>
                    <div class="col">
                        <label for="toDate">To:</label>
                        <input type="date" id="toDate" name="toDate" class="form-control">
                    </div>
                    <div class="col"> <button type="submit" class="btn btn-primary mt-4">Compute</button></div>
                </div>


            </div>
        </div>
    </div>





    <div class="h-divider">
        <h3>Performance</h3>
        <div class="divider-shadow"></div>
    </div>

    <!-- Performance -->
    <div class="row">
        <div class="col">

            <div id="aggregated-performance"></div>

            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-1">31/12/2009</span> - <span
                            id="date-label-end-1">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-1"></div>
                </div>
            </div>
        </div>

        <div class="col">

            <div id="asset-performance"></div>

            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-2">31/12/2009</span> - <span
                            id="date-label-end-2">07/03/2024</span></label>

                </div>
                <div class="slider-container">
                    <div id="date-slider-2"></div>
                </div>
            </div>

        </div>



    </div>


    <div class="h-divider">
        <h3>Risk</h3>
        <div class="divider-shadow"></div>
    </div>



    <div class="h-divider">
        <h3>Diversification</h3>
        <div class="divider-shadow"></div>
    </div>



    <div class="h-divider">
        <h3>Stress Test</h3>
        <div class="divider-shadow"></div>
    </div>

</div>






{% endblock content %}


{% block jsextra %}

<script>
    const performanceLink = "{% url 'scores:performance' %}";
    const aggregatedPerformance = "{% url 'scores:pf_view_aggregated_performance' %}";
    const assetPerformance = "{% url 'scores:pf_view_asset_performance' %}";
</script>

<script type="text/javascript" src="{% static 'js/LineChart.js' %}"></script>
<script type="text/javascript" src="{% static 'scores/js/main_pf.js' %}"></script>
{% endblock jsextra %}