{% extends "base.html" %}
{% load static %}
{% block head %}
<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'scores/css/pf.css' %}">

{% endblock head %}



{% block content%}



<div class="container-fluid">


    <div class="h-divider">
        <h3>Cockpit</h3>
        <div class="divider-shadow"></div>
    </div>


    <!-- Control panel for content -->
    <div id="cockpit-row" class="row mt-3">

        <div class="col-5">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div id="DashHeader" class="col-6 text-center">
                            <strong>Portfolio Weights <span id="update-asset-weight"></span></strong>
                        </div>

                        <div class="col-1">
                        </div>

                        <div id="DashHeader" class="col-5 text-center">
                            <strong>Benchmark Weights <span id="update-bm-weight"></span></strong>
                        </div>

                        <div class="col-1">
                        </div>
                    </div>

                    <div class="row">


                        <div class="col-3">
                            <div class="row">
                                <label for="weightAsset1">AMD:</label>
                                <input type="number" id="weight_AMD" name="weight_AMD" class="form-control" step="1"
                                    min="0" max="100" value="20">
                            </div>
                            <div class="row">
                                <label for="weightAsset2">Intel:</label>
                                <input type="number" id="weight_INTC" name="weight_INTC" class="form-control" step="1"
                                    min="0" max="100" value="40">
                            </div>
                            <div class="row">
                                <label for="weightAsset3">Apple:</label>
                                <input type="number" id="weight_AAPL" name="weight_AAPL" class="form-control" step="1"
                                    min="0" max="100" value="10">
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <label for="weightAsset4">NVIDIA:</label>
                                <input type="number" id="weight_NVDA" name="weight_NVDA" class="form-control" step="1"
                                    min="0" max="100" value="10">
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <label for="weightAsset5">Qualcomm:</label>
                                <input type="number" id="weight_QCOM" name="weight_QCOM" class="form-control" step="1"
                                    min="0" max="100" value="10">
                            </div>
                            <div class="row">
                                <label for="weightAsset6">Broadcomm:</label>
                                <input type="number" id="weight_AVGO" name="weight_AVGO" class="form-control" step="1"
                                    min="0" max="100" value="10">
                            </div>
                        </div>

                        <div class="col-1">
                        </div>

                        <div class="col-5">
                            <div class="row">
                                <label for="weightAsset1">MXWO:</label>
                                <input type="number" id="weightbm_MXWO" name="weight_MXWO" class="form-control" step="1"
                                    min="0" max="100" value="100">
                            </div>
                            <div class="row">
                                <label for="weightAsset2">LEGATRUU:</label>
                                <input type="number" id="weightbm_LEGATRUU" name="weight_LEGATRUU" class="form-control"
                                    step="1" min="0" max="100" value="0">
                            </div>
                        </div>


                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-3">
                        <label for="fromDate">From:</label>
                        <input type="date" id="fromDate" name="fromDate" class="form-control">
                    </div>

                    <div class="col-3">
                        <label for="toDate">To:</label>
                        <input type="date" id="toDate" name="toDate" class="form-control">
                    </div>

                    <div class="col-3">
                        <button type="submit" id="compute-button" class="btn btn-primary">Compute</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-3">
            <div id="multiple-bar-area"></div>
        </div>
        <div class="col-3 border border-danger">
            <strong>BARCHART SHOWING ASSET CLASS ALLOCATION TO SUGGEST A BM</strong>
        </div>

    </div>


    <div class="h-divider">
        <h3>Performance</h3>
        <div class="divider-shadow"></div>
    </div>


    <div class="row">
        <div class="col">
            <div id="aggregated-performance"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-1">31/12/2009</span> - <span
                            id="date-label-end-1">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-1"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="aggregated-performance-rolling"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-2">31/12/2010</span> - <span
                            id="date-label-end-2">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-2"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Asset Performance -->
    <div class="row">
        <div class="col">
            <div id="asset-performance"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-3">31/12/2009</span> - <span
                            id="date-label-end-3">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-3"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="asset-performance-rolling"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-4">31/12/2010</span> - <span
                            id="date-label-end-4">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-4"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="h-divider">
        <h3>Risk</h3>
        <div class="divider-shadow"></div>
    </div>


    <div class="row">
        <div class="col">
            <div id="aggregated-performance-volatility"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-5">31/12/2010</span> - <span
                            id="date-label-end-5">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-5"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="asset-performance-volatility"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-6">31/12/2010</span> - <span
                            id="date-label-end-6">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-6"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div id="aggregated-performance-beta"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-7">31/12/2010</span> - <span
                            id="date-label-end-7">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-7"></div>
                </div>
            </div>
        </div>

        <div class="col">
            <div id="asset-performance-beta"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-8">31/12/2010</span> - <span
                            id="date-label-end-8">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-8"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="aggregated-performance-drawdown"></div>
            <div class="pb-1" id="slider-div">
                <div class="slider-container">
                    <label>Date: <span id="date-label-start-9">31/12/2009</span> - <span
                            id="date-label-end-9">07/03/2024</span></label>
                </div>
                <div class="slider-container">
                    <div id="date-slider-9"></div>
                </div>
            </div>
        </div>

        <div class="col mt-4">
            {% include 'table_new.html' with id="table_top_drawdown" show_footer=0 %}
            {% include 'table_new.html' with id="table_top_drawdown2" show_footer=0 %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include 'table_new.html' with id="table_performance_metrics" show_footer=0 %}
        </div>

        <div class="col">
            <div id="upside-downside-bar1"></div>
        </div>
    </div>


    <!-- <div class="h-divider">
        <h3>Diversification</h3>
        <div class="divider-shadow"></div>
    </div> -->


    <div class="h-divider">
        <h3>Stress Test</h3>
        <div class="divider-shadow"></div>
    </div>


    <div class="row">


        <div class="col-6">
            <div class="row justify-content-center">
                <div class="col-3">
                    <select id="stressTestSelect" name="stressTestSelect" class="form-control">
                        <option value="1">US/CHINA Tradewar</option>
                        <option value="2" selected>COVID-19</option>
                    </select>
                </div>
                <div class="col-1">
                    <button id="play-button"></button>
                </div>
            </div>
        </div>






    </div>

    <div class="row">
        <div class="col-6">
            <div id="stress-test-performance"></div>
        </div>
    </div>


</div>















</div>


{% endblock content %}


{% block jsextra %}

<script>
    const performanceLink = "{% url 'scores:performance' %}";
    const aggregatedPerformance = "{% url 'scores:pf_view_aggregated_performance' %}";
    const assetPerformance = "{% url 'scores:pf_view_asset_performance' %}";
    const performance = "{% url 'scores:pf_view_performance' %}";
    const groupedbar2 = "{% static 'data/multiples.json' %}";
</script>

<script type="text/javascript" src="{% static 'js/LineChart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/LineChartAnimation.js' %}"></script>
<script type="text/javascript" src="{% static 'js/HorizontalTable.js' %}"></script>
<script type="text/javascript" src="{% static 'js/GroupedBarChart.js' %}"></script>
<script type="text/javascript" src="{% static 'scores/js/main_pf.js' %}"></script>
<script type="text/javascript" src="{% static 'js/HorizontalBarChart.js' %}"></script>
{% endblock jsextra %}