{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'scores/css/test.css' %}">

{% endblock head %}


{% block content %}
<div class="container-fluid">



    <div class="row scores justify-content-center">
        <div class="col">
            {% include 'table_new.html' with id="test_table" show_footer=1 %}
        </div>
    </div>



    <div class="row scores justify-content-center">
        <div class="col">
            {% include 'table_new.html' with id="test_table_2" show_footer=1 %}
        </div>
    </div>



</div>
{% endblock content %}



{% block jsextra %}

<script>
    const tableData = "{% url 'scores:table_data' %}";
    const tableData2 = "{% url 'scores:table_data2' %}";
</script>
<script type="text/javascript" src="{% static 'js/HorizontalTable.js' %}"></script>
<script type="text/javascript" src="{% static 'scores/js/main_universe.js' %}"></script>

{% endblock jsextra %}